body{
    height: 100vh;
    background: #43cea2; 
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2); 
    background: linear-gradient(to right, #185a9d, #43cea2); 
    display: flex;
    justify-content: center;
    align-items: center;
}
